@media only screen and (max-width: 799px) { /* Phone Design */
.Skills {
  background: #121313;
  color: white;
  padding-top: 2px;
  padding-bottom: 18px;
}

.FlexSpace {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.Skills h1 {
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-weight: bold;
  font-size: 38px;
  text-decoration-line: underline;
  color: #FFD152;
}

.Skills h2 {
  margin: 0px;
  padding: 0px;
  font-weight: bold;
  font-size: 38px;
  text-decoration-line: underline;
  color: #EFF7F6;
}

.FlexClamp {
  display: flex;
  justify-content: center;
  align-items: center;
}

.FlexClamp img {
  padding-left: 4px;
  padding-right: 4px;
}
}


@media only screen and (min-width: 800px) { /* PC Design */
.Skills {
  background: #121313;
  color: white;
  padding-top: 2px;
  padding-bottom: 20px;
}

.FlexSpace {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-left: 2%;
  padding-right: 2%;
}

.FlexClamp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 375px;
}

@media only screen and (min-width: 1100px) {
  .FlexSpace {
    max-width: 1903px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10%;
    padding-right: 10%;
  }

  .FlexClamp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
  }
}


.Skills h1 {
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-weight: bold;
  font-size: 38px;
  text-decoration-line: underline;
  color: #FFD152;
}

.Skills h2 {
  margin: 0px;
  padding: 0px;
  font-weight: bold;
  font-size: 38px;
  text-decoration-line: underline;
  color: #EFF7F6;
}
}